.block {
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  font-size: 2.5em;
}

@media screen and (min-width: 1450px) {
  .block {
    height: 80px;
    width: 80px;
    padding-top: 20px;
  }
}