body {
  max-width: 1200px;
  height: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(4,48,111,1) 60%, rgba(14,157,186,1) 100%);
  padding-bottom: 800px;
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

button {
  color: white;
  font-weight: 900;
  background-color: rgba(14, 157, 186, 0.8);
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px;
  width: 200px;
  transition: .4s;
}

button:hover {
  cursor: pointer;
  background-color: rgba(4,48,111,1);
}